
        body{
            padding: 0;
            margin: 0;
            padding-bottom: 0px;
        }
        *{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: grey;
        }

        /* <!-- ------------------------------------------------------------------------------------------------------------------ --> */
        #navbar{
            margin-top: 10px;
            font-size: 10px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom: 25px;
        }
        #logo{
            width: 10%;
        }
        #logo>img{
            width: 100%;
        }
        #search{
            width: 45%;
        }
        #search>input{
            width: 100%;
            padding: 8px;
            border-radius: 30px;
            margin: auto;
            border: 1px solid gray;
            position: relative;
        }

        .fa-magnifying-glass{
            color: grey;
            position: absolute;
            top: 4%;
            left: 72%;
        }
        .fa-solid{
            color: grey;
           
        }

        /* <!-- ------------------------------------------------------------------------------------------------------------------ --> */
        #first-screen{
            /* margin-top: 50px; */
            width: 90%;
            margin: auto;
            display: flex;
            justify-content: space-evenly;
        }

        /* -----------------------------------------------swiper Part---------------------------------------------------- */
        #slider_window{
            width: 62%;
            border-radius: 10px;
        }

        .swiper{
            width: 100%;
            height: fit-content;
        }
        .swiper-slide img{
            width: 100%;
        }
           /* -----------------------------------------------swiper Part---------------------------------------------------- */
        
        #right_side{
            width: 35%;
            display: flex;
            flex-direction: column;
            align-content: space-between;
        }
        #right_side>div{
            width: 92%;
            
        }
        #right_side>div>img{
            width: 100%;
        }

        /* <!-- -------------------------------------------------CATEGORY----------------------------------------------------------------- --> */
        #category{
            width: 90%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        #category>div{
            width: 24%;
        }
        #category>div>a>img{
            width: 100%;
        }
        /* <!-- ----------------------------------------------------COMMON FOR PRODUCTS----------------------------------------------------- --> */

        hr{
            width: 90%;
        }
        h1{
            margin-left: 5%;
            margin-bottom: 0px;
        }

        /* <!-- ------------------------------------------------------------------------------------------------------------------ --> */
        /* FOR THE FRUITES, VEGETABLES,KITCHEN STAPLES AND OTHER APPEND PARTS */
        .left_right{
            margin: auto;
            width: 90%;
            display: flex;
            justify-content: space-between;
            position: absolute;
            left: 5%;
            margin-top: 10%;
        }
        #mangoes{
            width: 90%;
            display: grid;
            grid-template-columns: repeat(5,1fr);
            gap: 20px;
            margin: auto;
            
        }

        #mangoes>div{
            border: 1px solid rgb(236, 235, 235);
        }
        #mangoes>div>img{
            width: 100%;
            background-color: rgb(245, 243, 243);
        }
        #mangoes>div>div{
            margin: auto;
            width: 95%;
        }
        #mangoes > div > div > p:nth-child(1){
            min-height: 40px;
        }
        
        #mangoes > div > div > p:nth-child(2){
            margin-bottom: -25px;
            font-size: 14px;
        }
    
        #mangoes > div > div > div{
            display: flex;
            margin-bottom: -15px;
            align-items: center;
            justify-content: space-between;
        }
    
        #mangoes > div > div > div > h5{
            min-width: 15%;
            font-size: 16px;
        }
    
        #mangoes > div > div > div > h5:first-child{
            color: black;
        }
        
        #mangoes > div > div > div > h5:nth-child(2){
            text-decoration: line-through
        }
    
        #mangoes > div > div > div > button{
            width: 25%;
            height: 30px;
            border: 1.5px solid #4FBB90;
            background-color: transparent;
            color: #4FBB90;
            border-radius: 15px;
        }
    
        #mangoes > div > div > div > button:hover{
            color: white;
            background-color: #4FBB90;
        }



        /* <!-- ----------------------------------------------------APP DOWNLOAD-------------------------------------------------------- --> */

        #app-download{
            width: 90%;
            margin: auto;
            display: flex;
        }

        #app-download>.mobilephoto{
            width: 50%;
            margin: auto;
        }

        .mobilephoto>img{
            width: 100%;
        }

        #app-download>.login_mobile{
            padding-top: 50px;
            width: 40%;
            display: block;
            
        }

        #app-download>.login_mobile>p:first-child{
            font-size: 35px;
            color: black;
        }

        .login_mobile>form{
            display: block;
            margin-top: 50px;
        }

        .login_mobile>form>input{
            width: 90%;
            padding: 15px;
            border-radius: 8px;
            margin-bottom: 20px;
            border: 1px solid grey;
            box-sizing: border-box;
        }

        /* <!-- -------------------------------------------------------FOOTER----------------------------------------------------------- --> */
        #foooter-cloud{
            width: 100%;
            margin-bottom: 0px;
        }
        #foooter-cloud>img{
            width: 100%;
        }
        #footer{
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: rgb(172, 166, 166);
            padding: 15px;
            background-color: rgb(13, 82, 65);
            margin-top: -25px;
        }
        #footer>p{
            font-size: 12px;
            width: 90%;
            text-align: justify;
            margin: auto;
            
        }
        #footer>h3{
            text-align: center;
            
        }
        #footer_content{
            margin: auto;
            width: 90%;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 100px;
        }
        #footer1>img{
            width: 100%;
        }
        
        #footer1>p{
            text-align: justify;
            margin-top: 30px;
        }
        #footer_content>div>p{
            margin: 5px;
        }

    /* <!-- ----------------------------------------------------------------------------------------------------------------------------- --> */
   #products_page{
    padding-top: 30px;
    width: 90%;
    margin: auto;
    }

 /* <!-- ----------------------------------------------------------------------------------------------------------------------------- --> */

    
    